<app-header-footer></app-header-footer>
<div class="product-cards">
  <div class="card" *ngFor="let item of sample">
    <input type="radio" name="product" id="product1" checked />
    <label for="product1">
      <img
        src="{{item.MainImage}}"
        alt="Product 1"
      />
      <h3>{{item.ProductName}}</h3>
      <p>Description of Product 1</p><br>
      <h3>Price: {{item.Price}}</h3>
      <input type="checkbox" />For Men <input type="checkbox" />For Women <br>
      <button><a routerLink="/Checkout/:check"><i class="fa-solid fa-1.5x fa-cart-shopping"></i>Buy Now</a></button>
    </label>
  </div>
</div>
<app-footer></app-footer>
