<app-navbar></app-navbar>
<body>
<div class="forgotPassword-box">
  <div class="pswd-content">
      <div class="title">
          <h1>Reset your password</h1>
      </div>
      <form name="form" id="form" [formGroup]="forgotPswdForm" (ngSubmit)="resetPswd()" autocomplete="off">
        <label>Email</label>
        <div class="input-box" id="input_box">
            <input type="text"  formControlName="email"><br>
            <div class="icon"><i class="fa-solid fa-envelope"></i></div>
            <div class="errror" *ngIf="forgotPswdForm.controls['email'].invalid && (forgotPswdForm.controls['email'].dirty || forgotPswdForm.controls['email'].touched)">
              <span class="error" *ngIf="forgotPswdForm.controls['email'].errors?.['required']" >Please enter your email</span>
              <span class="error" *ngIf="forgotPswdForm.controls['email'].errors?.['pattern']" >Please enter valid email</span>
            </div>
        </div>
        <label>Password</label>
        <div class="input-box" id="input_box">
            <input type="password"  formControlName="password"><br>
            <div class="icon"><i class="fa-solid fa-lock"></i></div>
            <div class="errror" *ngIf="forgotPswdForm.controls['password'].invalid && (forgotPswdForm.controls['password'].dirty || forgotPswdForm.controls['password'].touched)">
              <span class="error" *ngIf="forgotPswdForm.controls['password'].errors?.['required']" >Please enter new password</span>
              <span class="error" *ngIf="forgotPswdForm.controls['password'].errors?.['minlength']" >Password must be atleast 6 characters </span>
            </div>
        </div>
        <div *ngIf="invalidUser">
          <span class="invalidUserError"><p>Please enter registered email id</p></span>
      </div>
        <button type="submit" class="submit" id="submit">Reset</button>
        </form>
  </div>
</div>
</body>
<app-footer></app-footer>