
body{
  display: grid;
  height: 100vh;
  place-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-image: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}
.forgotPassword-box{
  width: 400px;
  background: #1A2226;
  padding: 30px;
  border-radius: 5px;
  box-shadow:2px 2px 12px 3px  rgba(0, 0, 0, 0.50);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}
.title{
   text-align: center;
   color:#66fcf1;
   font-size: 12px;
   font-weight: 100;
   padding-top: 3px;
   padding-bottom: 30px;
}
form label{
  margin-top: 20px;
  font-size: 17px;
  color: #6C6C6C;
}
input:focus {
  outline: none;
  box-shadow: 0 0 0;
}
form .input-box{
  height:35px;
  width: 100%;
  position: relative;
  margin-top: 5px;
  margin-bottom: 25px;
}
.input-box input{
  height:100%;
  width: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  padding-left: 35px;
  color: #ECF0F5;
  background-color: #1A2226;
  border-bottom: 2px solid #66fcf1;
  border-radius: 0px;
}
.input-box .icon{
  position: absolute;
  top:50%;
  left:5px;
  color: grey;
  transform: translateY(-50%);
}
button[type="submit"]{
  width:200px;
  height: 35px;
  margin-top:15px;
  margin-left: 70px;
  border: 1px solid #66fcf1;
  background-color: #1A2226;
  color: #66fcf1;
  font-size: 18px;
  border-radius: 100px;
  cursor: pointer;
}
button[type="submit"]:hover{
  color: #ECF0F5;
  background-color: #40afd3;
}

.error{
color: rgb(235, 27, 27);
font-size: 14px;
}
.invalidUserError p{
color: rgb(235, 27, 27);
font-size: 16px;
text-align: center;
}


