<app-AdminHome></app-AdminHome>
<div id="main">
  <div class="top-nav">
    <div class="top-page">
      <span style="font-size:25px;cursor:pointer; color:grey;" class="nav">☰ Add Product</span>
    </div>
    <div class="profile">
      <img src="assets/images/user.png" class="pro-img" />
      <p>Hemaltha<span>Admin</span></p>
    </div>
  </div>
  <form [formGroup]="productForm" (submit)="submitForm()" class="update-form">

    <input type="tel" placeholder="Enter Id" name="proId" formControlName="proId" [(ngModel)]="proId" required="">
    <div *ngIf="productForm.controls['proId'].dirty">
      <small *ngIf="productForm.controls['proId'].errors?.['required']">Please Enter Id</small>
    </div>

    <input type="text" placeholder="Enter product name" name="proName" formControlName="proName" [(ngModel)]="proName"
      required="">
    <div *ngIf="productForm.controls['proName'].dirty">
      <small *ngIf="productForm.controls['proName'].errors?.['required']">Please Enter product name</small>
    </div>

    <input type="tel" placeholder="Enter product price" name="proPrice" formControlName="proPrice"
      [(ngModel)]="proPrice" required="">
    <div *ngIf="productForm.controls['proPrice'].dirty">
      <small *ngIf="productForm.controls['proPrice'].errors?.['required']">Please Enter price</small>
    </div>

    <input type="tel" placeholder="Enter product  quantity" name="proQuantity" formControlName="proQuantity"
      [(ngModel)]="proQuantity" required="">
    <div *ngIf="productForm.controls['proQuantity'].dirty">
      <small *ngIf="productForm.controls['proQuantity'].errors?.['required']">Please Enter quantity</small>
    </div>

    <input type="text" placeholder="Enter as false" name="proDisable" formControlName="proDisable"
      [(ngModel)]="proDisable" required="">
    <div *ngIf="productForm.controls['proDisable'].dirty">
      <small *ngIf="productForm.controls['proDisable'].errors?.['required']">Please Enter as false</small>
    </div>

    <input type="text" placeholder="Enter product image url" name="proImage" formControlName="proImage"
      [(ngModel)]="proImage" required="">
    <div *ngIf="productForm.controls['proImage'].dirty">
      <small *ngIf="productForm.controls['proImage'].errors?.['required']">Please Enter image url</small>
    </div>

    <input type="text" placeholder="Enter product detail" name="proDetail" formControlName="proDetail"
      [(ngModel)]="proDetail" required="">
    <div *ngIf="productForm.controls['proDetail'].dirty">
      <small *ngIf="productForm.controls['proDetail'].errors?.['required']">Please Enter product detail</small>
    </div>

    <input type="tel" placeholder="Enter product weight" name="proWeight" formControlName="proWeight"
      [(ngModel)]="proWeight" required="">
    <div *ngIf="productForm.controls['proWeight'].dirty">
      <small *ngIf="productForm.controls['proWeight'].errors?.['required']">Please Enter product weight</small>
    </div>


    <input type="text" placeholder="Enter product category" name="proCategory" formControlName="proCategory"
      [(ngModel)]="proCategory" required="">
    <div *ngIf="productForm.controls['proCategory'].dirty">
      <small *ngIf="productForm.controls['proCategory'].errors?.['required']">Please Enter product category</small>
    </div>

    <input type="submit" value="Add" Style="
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background: linear-gradient(270deg, #ED765E 0%, #E3BDE5 100%);
    color: black;
    ">
  </form>
</div>
