<app-AdminHeader></app-AdminHeader>
<div class="addProducts">
  <div class="add-title">
    <h4>ADD</h4>
  </div><br>
  <hr>

  <div class="cardbox">
    <form id="formreg" action="main.html" method="post">
      <div class="user">
          <div class="box">
              <span class="details">Image Url</span> <br>
              <input type="text" name="fname"  id="fname" placeholder="image url" autocomplete="off"><br>
              <span id="firstname" class="error"></span>
          </div>
          <div class="box">
              <span class="details">Title</span> <br>
              <input type="text" name="email" id="email" placeholder="Title" autocomplete="off"><br>
              <span id="emailreg" class="error"></span>
          </div>
          <div class="box">
              <span class="details">Title Description</span> <br>
              <input type="text" name="mobile" id="mobile" placeholder="Title Description" autocomplete="off"><br>
              <span id="mobileReg" class="error"></span>
          </div>
          <div class="box">
              <span class="details"> Moblie Number </span><br>
              <input type="text" name="mobile" id="mobile" placeholder="Mobile number " autocomplete="off"><br>
              <span id="mobileReg" class="error"></span>
          </div>
          </div>
          <div class="user">
          <div class="box">
              <span class="details">Original Price</span> <br>
              <input type="text" name="address" id="address" placeholder="Original Price" autocomplete="off"><br>
              <span id="addressReg" class="error"></span>
          </div>
          <div class="box">
              <span class="details">Discount</span> <br>
              <input type="text" name="mobile" id="mobile" placeholder="Discount" autocomplete="off"><br>
              <span id="pincodereg" class="error"></span>
          </div>
          <div class="box">
              <span class="details">Market Price</span> <br>
              <input type="text" name="pincode" id="pincode" placeholder="Market Price" autocomplete="off"><br>
              <span id="pincodereg" class="error"></span>
           </div><div class="box">
              <span class="details">Ratings</span> <br>
              <input type="text" name="mobile" id="mobile" placeholder="Ratings" autocomplete="off"><br>
              <span id="pincodereg" class="error"></span>
           </div>
           </div><br>


<div class="button-reg">
          <input type="submit" value="Add" class="buttons-reg">

      </div>

  </form></div></div>

