<app-header-footer></app-header-footer>
<div class="container">
  <div class="contact-info">
    <h2>Contact Information</h2>
    <p><strong>Banjara Harley Davidson</strong></p>
    <p>First floor, V V one,</p>
    <p>Guttala_Begumpet, Telangana 500033.</p>
    <p><strong>Phone:</strong> (123) 456-7890</p>
    <p><strong>Email:</strong> info@banjaraharleydavidsonbikes.com</p>
    <p><strong>Hours:</strong> Monday - Friday, 9am - 5pm  </p>


  </div>
  <div class="contact-form">
    <h2>Contact Us</h2>
    <form action="submit-form.php" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required /><br>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required /><br>

      <label for="phone">Phone</label>
      <input type="tel" id="phone" name="phone" required /><br>

      <label for="message">Message</label>
      <textarea id="message" name="message" required></textarea><br>

      <input type="submit" value="Submit" />
    </form>
  </div>
</div>
<div class="map-container">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15225.571668325547!2d78.3974768!3d17.4408982!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90d4d27091db%3A0x6c57b46677eaa90e!2sBanjara%20Harley%20Davidson!5e0!3m2!1sen!2sin!4v1683699387484!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
