<app-AdminHome></app-AdminHome>
<div id="main">
  <div class="top-nav">
    <div class="top-page">
      <span style="font-size:25px;cursor:pointer; color:grey;" class="nav">☰ Edit Product</span>
    </div>
    <div class="profile">
      <img src="assets/images/user.png" class="pro-img" />
      <p>Hemaltha<span>Admin</span></p>
    </div>
  </div>
  <div class="edit-product">
 <h3>{{productData?.name}} Details</h3>
    <p class="message-p">{{productMessage}}</p>
    <form #editProduct="ngForm" (ngSubmit)="submit(editProduct.value)" class="common-form">

      <input type="text" class="form-input" placeholder="Enter Product Name" name="name"
        ngModel="{{productData.name}}" />
      <input type="number" class="form-input" placeholder="Enter Product Price" name="price"
        ngModel="{{productData.price}}" />
      <input type="tel" class="form-input" placeholder="Enter Product quantity" name="quantity"
        ngModel="{{productData?.quantity}}" />
      <input type="text" class="form-input" placeholder="Enter as disabled" name="disabled"
        ngModel="{{productData?.disabled}}" />
      <input type="text" class="form-input" placeholder="Enter Product Image URL" name="image"
        ngModel="{{productData?.image}}" />
      <textarea type="text" class="form-input" placeholder="Enter Product Description" name="description"
        ngModel="{{productData?.detail}}"></textarea>
      <input type="text" class="form-input" placeholder="Enter Product weight" name="weight"
        ngModel="{{productData?.weight}}" />
        <input type="tel" class="form-input" placeholder="Enter Product rating" name="rating"
        ngModel="{{productData?.rating}}" />
      <input type="text" class="form-input" placeholder="Enter Product Category" name="category"
        ngModel="{{productData?.category}}" />
      <button class="form-button">Update Product</button>

    </form>
  </div>

</div>
