<app-Header></app-Header>

<!-- when cart contains item -->
<ng-container *ngIf="products.length!=0">
  <DIV CLASS="top"></DIV>
  <div class="container">
<div class="card-table">
  <div class="cart-product">
    <table class="table responsive">
      <thead>
        <tr>
          <th>S.NO</th>
          <th>DELETE</th>
          <th>PRODUCT IMAGE</th>
          <th>PRODUCT NAME</th>
          <th>PRODUCT DESCRIPTION</th>
          <th>PRICE</th>
          <th>QUANTITY</th>
          <th>TOTAL</th>

        </tr>
      </thead>
      <tbody *ngFor="let item of products; let i = index">
        <tr class="cartitems">
          <td>{{i+1}}</td>
          <td><i class="fa-sharp fa-solid fa-trash" (click)="removeone(item)"></i></td>
          <td><img style="width:100px;height:100px" src="{{item.image}}"></td>
          <td>{{item.title}}</td>
          <td>{{item.titleDescription}}</td>
          <td>{{item.price| currency:'INR':'': '1.0-0'}}</td>
          <td><i class="fa-solid fa-circle-left" (click)="decrease()"></i>{{item.quantity}}<i class="fa-solid fa-circle-right" (click)="increase()"></i></td>
          <td>{{item.total| currency:'INR':'': '1.0-0'}}</td>

        </tr>

      </tbody>
    </table>
    <td class="emptyCart"></td>
        <td><button (click)="emptycart()" class="emptycart"> Empty Cart</button></td>
        <td><button class="Checkout"> Check Out</button></td>
        <td><strong>Grand Total: {{grandtotal| currency:'INR':'symbol': '1.0-0'}}</strong></td>
  </div></div>
</div>
</ng-container>


<!-- when cart is empty -->
<ng-container *ngIf="products.length==0">
<div class="top"></div>
<div class="container">
  <div class="card">
    <h5 class="card-title">My Cart</h5>
  </div>
  <div class="center">
    <img src="../assets/images/emptycart1.png"><br><br>
    <h4>Your Cart is Empty !</h4>
    <h6>Add Items to it Now</h6>
    <button class="shop-now">Shop Now</button>
  </div>
</div>
</ng-container>
