<app-AdminHeader></app-AdminHeader>

<div class="display-user-details">
  <div class="reg-user">
    <div class="view-user-title"><h4>Registered Users</h4></div>
    <div class="search-container">
      <form action="#">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div><br>
  <hr>
<table>
  <tr>
    <th>S.No</th>
    <th>FIRST NAME</th>
    <th>LAST NAME</th>
    <th>EMAIL ID</th>
    <th>MOBILE NUMBER</th>
  </tr>
  <tr *ngFor="let admin of data">
    <td>{{admin.id}}</td>
    <td>{{admin.firstname}}</td>
    <td>{{admin.lastname}}</td>
    <td>{{admin.email}}</td>
    <td>{{admin.mobilenumber}}</td>


  </tr>
</table>
</div>

