.section{
  margin:0px 50px 0px 50px;
  background-color: rgb(255, 255, 255, 0.8);
  font-family: 'Poppins', sans-serif;
  padding: 5px;
}

table
{
   border-collapse: collapse;
  width: 100%;
}
table, td, th {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  color:rgb(25, 2, 94);
}
td{
  text-align: center;
  font-weight:bold ;
  color:rgb(25, 2, 94);
}
.cart-table{
  margin:30px;
}

.cart-image{
  text-align: center;
}
.cart-content1{
  text-align: center;
  color: rgba(25, 2, 94, 0.644);
  font-weight: bold;
}
.cart-content2{
  text-align: center;
  color: #dd5e89;
  font-weight: bold;
}
.cart-order{
  text-align: center;
  padding-bottom: 30px;
}
.cart-order-button{
  background: linear-gradient(-135deg, #f82189, #e5aabe);
  padding: 5px 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;

}
.cart-order-button:hover{
  background: linear-gradient(135deg, rgba(104, 70, 207, 0.644), #dd5e89);

}
.cart-remove-button{
  background: #b92b27;;
  color:white;
  border-radius: 5px;
  padding:10px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.cart-shop-button{
  background: #0085ba;
  color:white;
  border-radius: 5px;
  padding:10px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.cart-checkout-button
{
  background: #7bae37;
  color:white;
  border-radius: 5px;
  padding:10px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.cart-checkout-button:hover,.cart-remove-button:hover,.cart-shop-button:hover
{
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
}
