<app-Header></app-Header>
<br><br><br><br><br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="conbox">

<div class="contact-bg contact" [ngStyle]="{backgroundImage:'url(assets/images/contact-bg.jpg)'}">
</div>
<div class="contact" >
<!-- <div class="contact-bg" [ngStyle]="{backgroundImage:'url(assets/images/contact-bg.jpg)'}">
</div> -->





<div class="contact-us">


  <h4 class="contact-title">CONTACT US</h4>
<div class="contact-page">
  <div class="contact-icons">
     <div class="location-icon" id="location-icon"> <i class="fa-sharp fa-solid fa-location-dot fa-beat fa-lg"></i></div>
      <div class="contact-des"><h6>Address</h6>
     <p>24,North car street,</p>
      <p>Chennai.</p></div>
    </div>

    <div class="contact-icons">
      <div class="location-icon" id="phone-icon"> <i class="fa-solid fa-phone fa-shake fa-lg"></i></div>
      <div class="contact-des"><h6>Phone</h6>
      <p>+91 6380426608</p></div>

     </div>
     <div class="contact-icons">
      <div class="location-icon" id="mail-icon"> <i class="fa-solid fa-envelope fa-bounce fa-lg"></i></div>
      <div class="contact-des"><h6>Email</h6>
      <p>aathmiga24@gmail.com</p></div>
     </div>
  </div>
<h4 class="connect-us">KEEP IN TOUCH</h4>



<form class="form" method="post">


  <p class="nametype">Name</p>
  <div class="field Name">
    <div class="input-area">
      <input  type="text"  placeholder="Name" >
  </div>
  </div><br>

  <p class="nametype">Email</p>
  <div class="field Email">
    <div class="input-area">
      <input type="text"  placeholder="Email" >
    </div>
  </div><br>

  <p class="nametype">Message</p>
  <div class="field Message">
    <div class="input-area" id="input-message">
      <input type="text"  placeholder="Message here..." >
    </div>
  </div>

  <button type="submit" name="submit" value="Login" id="submit" >Submit</button>


</form></div>
</div></div>
<app-Footer></app-Footer>
