<!-- Footer part -->
<footer>
  <div class="footercontainer">
      <div class="footconten" >
         <div class="foot-title"><img src="../assets/images/ketti1-removebg-preview.png"><h1 class="footertitle">Kettimelam </h1></div>
          <p>Best wedding planner of south india where you can get a complete plan for your wedding done with your budget.
              This is the place to fullfil your dream wedding with heartful of emotions and mindful of satisfaction.
          </p><br>

      </div>
      <div class="footcontent" id="footcontent" >
          <h3>Search Us </h3>
          <a href="#" id="foot-show">Instagram </a><br>
          <a href="#" id="foot-show">You Tube</a><br>
          <a href="#" id="foot-show">Twitter</a><br>
          <a href="#" id="foot-show">Facebook</a><br>
          <a href="#" id="foot-show">Whatsapp</a><br>


      </div>
      <div class="footcontent" id="footcontent">
          <h3>More on Kettimelam</h3>
          <a href="#" id="foot-show">About Us</a><br>
          <a href="#" id="foot-show">Contact Us</a><br>
          <a href="#" id="foot-show">Reviews</a><br>


      </div>
      <div class="footcontent" id="footcontent">
        <h3>Shop</h3>
        <a href="#" id="foot-show">Catering</a><br>
        <a href="#" id="foot-show">Weddings</a><br>
        <a href="#photography" id="foot-show">Studio</a><br>
        <a href="#" id="foot-show">Make over</a><br>


    </div>
      <div class="footcontent" id="footconten">
          <h2>STAY CONNECTED</h2>
          <form class="contacthere">
              <div class="maillogo">
                  <i class="fa-solid fa-envelope"></i>

                  <input type="email" class="email" placeholder="Enter your email" required>
              </div>
              <div class="typehere">
                  <textarea id="typehere" class="typehere" class="text" required
                      placeholder="Type Something"></textarea>
              </div>
              <div class="mailsubmit">
                  <button type="submit" class="mailsubmit" id="mailsubmit">Send</button>
              </div>


          </form>


      </div>
  </div>
  <hr>
  <p id="copyright">Copyright &#169; 2022 - Kettimelam</p>
</footer>



