<app-header-footer></app-header-footer>
<div class="divided"><div class="img"><div class="favorite">
  <i class="fa-solid fa-2x fa-heart"></i>
 </div>
 <img src="{{finalProduct.MainImage}}"  id="" alt="">
</div>
<div class="info">
  <h3> -------------------Harley Davidson™---------------------</h3><br>
  <h1> {{finalProduct.ProductName}} </h1>

  <h2>PRICE</h2><span>{{finalProduct.Price}}</span>
  <h2>Harley Davidson {{finalProduct.ProductName}} Key Specifications</h2>
  <table id="table_view">
    <th id="heading">
      <tr>
        <td>Engine</td>
        <td><span> 1868cc</span></td>
        <td>Kerb Weight</td>
        <td><span> 306kg</span></td>
      </tr>
      <tr>
        <td>Maxpower</td>
        <td><span> 93.8bhp</span></td>
        <td>Gears</td>
        <td><span> 6 speed</span></td>
      </tr>
      <tr>
        <td>Mileage</td>
        <td><span>18.1kmpl</span></td>
        <td>Starting</td>
        <td><span>Self start</span></td>
      </tr>
    </th>
  </table>

</div>
</div>
<div class="wallpaper">
  <img src="{{finalProduct.ImageWallpaper}}" alt="">
  <h2>Amped-up performance in every ride.</h2>
</div>
<div class="flexbox">
  <img src="{{finalProduct.Image1}}" alt="" height="370px" >
  <img src="{{finalProduct.Image2}}" alt="" height="370px" >
  <img src="{{finalProduct.Image3}}" alt="" height="370px">

</div>
<div class="divided">
<div class="flexbox1">
  <h2>PERFORMANCE & HANDLING</h2>
  <p><span>01 MILWAUKEE-EIGHT™ 114</span><br>
    Loads of torque for on-demand power you can feel with each twist, along with the familiar H-D sound. <br>

    <span>02 ELECTRONIC CRUISE CONTROL </span><br>
    For long-distance runs, there's nothing better than letting your bike do all the work. Cruise Control puts you <br> just minutes away from true riding bliss. <br>

    <span>03 ENGINE</span><br>
    The {{finalProduct.ProductName}} engine has a displacement of 1,868cc and features four valves per cylinder. <br>

    <span>04 ACCELERATION</span><br> The {{finalProduct.ProductName}} is known for its quick acceleration, thanks to the powerful V-twin engine.<br>

    <span>05HANDLING</span><br> The {{finalProduct.ProductName}} bike's low center of gravity also helps with stability and maneuverability.<br>

    <span>06 BRAKES</span><br> The {{finalProduct.ProductName}}  helps improve braking performance and control.<br>

    <span>07 EXHAUST</span><br> The {{finalProduct.ProductName}} features a 2-into-2 exhaust system, The exhaust is also tuned to improve performance and reduce emissions.<br>
</p>

<h4>"Screw it, let's ride."</h4>
<h5>-Harley Davidson</h5>
</div>
<div class="img1">
<img src="{{finalProduct.Image4}}" alt="" width="95%" height="600px">
</div>
</div>
<div class="stamp">
  <img src="../../assets/images/stamp.jpg"  height="250px" width="250px" alt="">
</div>
<div class="info1">
  <div class="heading">
<h3> -------------------Harley Davidson™---------------------</h3>
<h1>{{finalProduct.ProductName}}</h1>
</div><div class="btn">
<button><a routerLink="/Checkout/{{finalProduct.id}}"><i class="fa-solid fa-1.5x fa-cart-shopping"></i>Buy Now</a></button>
</div>
</div>
<app-footer></app-footer>
