<section id="footer">
  <div class="main-footer">
    <div class="abt">
      <h1>About</h1>
      <p>Harley-Davidson, Inc. ( H-D, or simply Harley) is an American motorcycle <br>
        manufacturer headquartered in Milwaukee, Wisconsin, United States.<br> Founded in 1903, it is one of two major American motorcycle manufacturers<br> to survive the Great Depression along with its historical rival,<br> Indian Motorcycles.</p>
    </div>
    <div class="logoinfo" data-aos="fade-up">
      <h2>Harley Davidson</h2>
      <p>Hari Gokul Srinivasan</p>

      <div class="contact-details">
        <h1>Contact Us</h1>
        <li>
          <div class="fa fa-phone"></div><a href="tel:+919326048690">044 42156550</a></li>
        <li>
          <div class="fa fa-envelope"></div><a routerLink="mailto:yourmail@gmail.com">rideindia@harleydavidson.com</a>
        </li>
    </div>
  </div>
  <div class="com " data-aos="fade-up">
    <ul>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="#">About</a></li>
      <li><a routerLink="#">Motorbikes</a></li>
      <li><a routerLink="#">Contact</a></li>
    </ul>
  </div>
  <div class="info" data-aos="fade-up">
    <h1>Social Media</h1>
    <div class="sociallogos">
      <div class="logobox">
        <a routerLink="#"><i class="fa-brands fa-instagram"></i></a>
        <a routerLink="#"><i class="fa-brands fa-linkedin"></i></a>
        <a routerLink="#"><i class="fa-brands fa-facebook"></i></a>
        <a routerLink="#"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
  </div>
  </div>
<footer>© Copyright 2021 All Rights Reserved</footer>
</section>
