
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KETTIMELAM</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <div class="wrapper">
      <header>
        <div class="title-reg">
          <img src="assets/images/ketti1-removebg-preview.png" id="image-reg">
          <p id="title-reg" style="font-size:55px;">Kettimelam</p>
      </div>
        <div class="regi">
            <p>Login</p>
        </div></header>
      <form class="form" name="form" id="form" [formGroup]="LoginForms" (ngSubmit) ="loginForm()">


        <p class="nametype">Email id</p>

        <div class="field email">
          <div class="input-area">
            <input type="text" id="email" placeholder="Email Address" formControlName="email">
            <div class="error-error" *ngIf="LoginForms.controls['email'].dirty">
              <p class="error" *ngIf="LoginForms.controls['email'].errors?.['required']">Email can't be blank</p>
              <p class="error" *ngIf="LoginForms.controls['email'].errors?.['pattern']">Enter correct email</p>
                </div>
            <br>



        </div>
        </div>


        <p class="nametype">Password</p>

        <div class="field password">
          <div class="input-area">
            <input type="password" id="password" placeholder="Password" formControlName="password">

            <div class="error-error" *ngIf="LoginForms.controls['password'].dirty">
              <p class="error" *ngIf="LoginForms.controls['password'].errors?.['required']">Password can't be blank</p>
              <p class="error" *ngIf="LoginForms.controls['password'].errors?.['pattern']">Enter correct password</p>
                </div>
            <br>
          </div>
        </div>


        <div class="pass-txt"><a routerLink="#">Forgot password?</a></div>
        <div class="final">
          <a id="create" routerLink="/register">Create account</a>
        <button type="submit" class="btn btn-primary" name="submit" value="Login" id="submit" [disabled]="!LoginForms.valid">Login</button>

  </div>
      </form>


</div>






<router-outlet></router-outlet>

