<app-header-footer></app-header-footer>
<form class="login"  [formGroup]="LoginForm"  (submit)="loginform(emailvalue.value)">

  <img
    src="../../assets/images/1200px-Harley-Davidson_logo.svg.png"
    class="logo"
  />
  <h2>Welcome, User!</h2>
  <p>Please log in</p>
  <input
    type="text"
    placeholder="Email id"
    id="username"
    formControlName="emailvalue"
    pattern="^[0-9a-zA-Z]+[._]{0,1}[0-9a-zA-Z]+[@][a-zA-Z]+[.][a-zA-Z]{2,3}([.][a-zA-Z]{2,3}){0,1}$"
   #emailvalue/><br />
  <div *ngIf="LoginForm.controls['emailvalue'].dirty" class="alert">
    <p *ngIf="LoginForm.controls['emailvalue'].errors?.['required']">
      Email should not be Empty
    </p>
    <p *ngIf="LoginForm.controls['emailvalue'].errors?.['pattern']">
      Enter a valid Email
    </p>
  </div>

  <input
    type="password"
    placeholder="Password"
    id="Password"
    formControlName="passwordvalue"
    pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
  />
  <div *ngIf="LoginForm.controls['passwordvalue'].dirty" class="alert">
    <p *ngIf="LoginForm.controls['passwordvalue'].errors?.['required']">
      Password should not be Empty
    </p>
    <p *ngIf="LoginForm.controls['passwordvalue'].errors?.['pattern']">
      Password Must Contain 1Caps(A)-Num(1)-Symbol(@)
    </p>
  </div>
  <button type="submit" id="submit" (click)="submit()">submit</button>
  <div class="links">
    <a routerLink="/forgetpassword">Forgot password</a>
    <a routerLink="/Register">Register</a>
  </div>
</form>
