<app-navbar></app-navbar>
<div class="homeimage">
  <img src="assets/lap images/home-page pic.jpg" width="100%" height="450px">
  <div class="home-txt">
      <h2>Only the best laptops...</h2>
      <button class="home-buy">
         <a  routerLink="/products">Shop Now</a>
      </button>
  </div>
</div>
<div class="aboutLaptop">
  <h1>Laptops That Brings Out The Best In You</h1>
  <p>
      While tablets and smartphones are still popular, most people agree that everything, from doing research for an assignment to playing hardcore games, 
      works better on a laptop. It doesn't matter what your lifestyle is,
      there is always one for you at Laptop Shopify.
  </p>
  <h1>Laptops for work and play</h1>
  <p>
      Windows Laptops are among the highest selling machines across the world.
      Several manufacturers from HP and Dell to Lenovo, and Asus make Windows Laptops.
      And while these are more common, Apple MacBooks are also getting popular for
      their sleek looks, shiny interface, and high user-friendly behaviour. 2-in-1 Laptops are
      preferred as we find newer uses for our machines to work and collaborate, to binge
      watch shows, even to read. Similarly, as gaming is getting more mainstream, so are
      Gaming Laptops . Their high-powered processors and top-of-the-line display cards are ideal
      not just to livestream games but also other uses such as editing 4K videos and high-resolution
      photos, and even creating graphics. No matter what your need is, you will find the best
      laptop for programming, gaming, designing and editing.
  </p>
</div>
<!-----------------Exclusive Laptops-------------------------->
<div class="border-instore" id="new-releases">
    <div class="exclusive" id="instore">
        <p>Instore Exclusive Deals</p>
    </div>
<div class="instoreExclusive">
    <div class="exclusive-laptop">
        <div class="bestInstore">
            <p>Best Instore Deal</p>
        </div>
        <img src="assets/lap images/macbook air pro.jpg">
        <div class="model">
            <p>MacBook Air Pro</p>
        </div>
        <div class="price">
            <p>Rs.1,28,499</p>
        </div>
        <div class="offer">
            <p>17% offer</p>
        </div>
        </div>
        <div class="exclusive-laptop">
            <div class="bestInstore">
                <p>Best Instore Deal</p>
            </div>
            <img src="assets/lap images/Dell sonic.jpg">
            <div class="model">
                <p>Dell Sonic 1</p>
            </div>
            <div class="price">
                <p>Rs.92,499</p>
            </div>
            <div class="offer">
                <p>12% offer</p>
            </div>
    </div>
    <div class="exclusive-laptop">
        <div class="bestInstore">
            <p>Best Instore Deal</p>
        </div>
        <img src="assets/lap images/acer legion.jpg">
        <div class="model">
            <p>Acer Legion</p>
        </div>
        <div class="price">
            <p>Rs.1,10,000</p>
        </div>
        <div class="offer">
            <p>15% offer</p>
        </div>
</div>
<div class="exclusive-laptop">
        <div class="bestInstore">
            <p>Best Instore Deal</p>
        </div>
        <img src="assets/lap images/hp laptop 14s.jpg">
        <div class="model">
            <p>HP 14s-dq500</p>
        </div>
        <div class="price">
            <p>Rs.62,000</p>
        </div>
        <div class="offer">
            <p>8% offer</p>
        </div>
        </div>
        <div class="exclusive-laptop">
            <div class="bestInstore">
                <p>Best Instore Deal</p>
            </div>
            <img src="assets/lap images/Asus Hero 1.jpg">
            <div class="model">
                <p>Asus Hero 1</p>
            </div>
            <div class="price">
                <p>Rs.77,499</p>
            </div>
            <div class="offer">
                <p>10% offer</p>
            </div>
    </div>
    <div class="exclusive-laptop">
        <div class="bestInstore">
            <p>Best Instore Deal</p>
        </div>
        <img src="assets/lap images/asus zen1.jpg">
        <div class="model">
            <p>Asus Zen 1</p>
        </div>
        <div class="price">
            <p>Rs.92,499</p>
        </div>
        <div class="offer">
            <p>12% offer</p>
        </div>
</div>

</div>
</div>
<div class="border-shopbybrand" id="best-sellers">
<div class="shop">
    <p>Best Sellers</p>
</div>
<div class="shop-by-brand">
        <div class="brand-logo" onclick="window.location.href='product.html'">
            <img src="assets/lap images/dell logo.jpg" width="250px" height="100%">
        </div>
        <div class="brand-logo" onclick="window.location.href='product.html'" >
            <img src="assets/lap images/hp logo.jpg" width="250px" height="100%">
        </div>
        <div class="brand-logo" onclick="window.location.href='product.html'" >
            <img src="assets/lap images/apple logo.jpg" width="250px" height="100%">
        </div>
        <div class="brand-logo" onclick="window.location.href='product.html'" >
            <img src="assets/lap images/acer logo.jpg" width="250px" height="100%">
        </div>
        <div class="brand-logo" onclick="window.location.href='product.html'" >
            <img src="assets/lap images/lenovo logo.jpg" width="250px" height="100%">
        </div>
        <div class="brand-logo" onclick="window.location.href='product.html'" >
            <img src="assets/lap images/asus logo.jpg" width="250px" height="100%">
        </div>
        <div class="brand-logo" onclick="window.location.href='product.html'" >
            <img src="assets/lap images/samsung logo.jpg" width="250px" height="100%">
        </div>
</div>
</div>

<app-footer></app-footer>