<app-Header></app-Header>
<div class="body">
    <div class="home-container">
      <div class="home-left-content">
        <div class="stawberry-image-flex">
          <img src="../../assets/images/stawberry-removebg-preview.png" height="50px" width="50px">
          <h4>Super Fast Delivery</h4>
        </div>
        <p id="home-cont1"> It’s time to get cooking.</p>
        <p id="home-cont2"> Let’s go shopping!</p>
        <p id="home-cont3">We are trusted grocery shop you can buy <br>your necessary products by using your phone </p>
        <div class="button-order">
         <a routerLink="/product"><input type="submit" value="Order"></a>
        </div>
        <div class="stawberry-image-flex">
          <img src="../../assets/images/tomato-removebg-preview.png" height="50px" width="50px">
          <h4>Ever Fresh Veggies</h4>
        </div>
      </div>
      <div class="thumb-img">
        <img src="assets/images/instacart_thumb.png">
      </div>
    </div>
  <!-- -->
  <section class="home-flex">
    <div class="home-flex1">
      <img src="assets/images/delivery-van.png" height="60px" width="60px">
      <h2>Fast Delivery Within <span style="color:orange">1 Hour</span> Max</h2>
      <p>Get delivery fastest ever - enjoy the freshness of the groceries</p>
    </div>
    <div class="home-flex1">
      <img src="assets/images/online-shopping.png" height="60px" width="60px">
      <h2>Order Grocery By <span style="color:orange">Web</span> Site</h2>
      <p>Order in a handy way using grozzy world application</p>
    </div>
    <div class="home-flex1">
      <img src="assets/images/replacement.png" height="60px" width="60px">
      <h2>Return Instant Any <span style="color:orange">Rotten</span> Items</h2>
      <p>If you get rotten items - return immediately to us</p>
    </div>
    <div class="home-flex1">
      <img src="assets/images/placeholder.png" height="60px" width="60px">
      <h2>Track Delivery With <span style="color:orange">Map</span> Coverage </h2>
      <p>As we believe in consumers trust - you can track service</p>
    </div>
  </section>


  <div class="cards1">
    <div class="picture_2">


      <img src="assets/images/Home-down-img.png">

    </div>
    <div class="content">
      <h2 class="style-heading"> Home Delivery</h2>
      <h3><SPAN STYLE="line-height: 35px;text-align: justify;font-weight: bold;color: #454444;">Fresh Groceries Stright
          To Your Door Step Whenever You Want</SPAN></h3>
      <p
        STYLE="font-size: 15px;line-height: 35px;text-align: justify;font-weight: bold;color: #454444; margin-right: 60px;">
        On days when you work late or barely have time for errands, it's incredibly convenient to order your groceries
        online. Not only can you stock up on fresh food and pantry staples at the click of a button, but you can also
        purchase personal care items, pet products, and cleaning supplies. All you need to know is where to start. With
        the right services, you can even get same-day delivery, extra discounts, packaged deals, and easy communication
        with your shopper to make sure the order is just right.</p>
    </div>


  </div>
</div>
<app-Footer></app-Footer>
