<footer>

  <div class="box-container">

    <div class="box">
      <h3>Grozzy world </h3>
      <p>Feel Free To Follow Us On Social Media Handlers All The Links Are Given Below.</p>
      <div class="share">
        <a routerLink="#" class="fa fa-facebook"></a>
        <a routerLink="#" class="fa fa-twitter"></a>
        <a routerLink="#" class="fa fa-instagram"></a>
        <a routerLink="#" class="fa fa-linkedin"></a>

      </div>
    </div>

    <div class="box">
      <h3>Contact Info</h3>
      <a routerLink="#" class="links"><i class="fa fa-phone"></i> +91 9350093500</a>
      <a routerLink="#" class="links"><i class="fa fa-phone"></i> +91 9360093600</a>
      <a routerLink="#" class="links"><i class="fa fa-envelope"></i> grozzyadmin@gmail.com</a>
      <a routerLink="#" class="links"><i class="fa fa-map-marker"></i> TamilNadu, India</a>
    </div>

    <div class="box">
      <h3>Quick Links</h3>
      <a routerLink="/home" class="links"><i class="fa fa-arrow-right"></i> Home</a>
      <a routerLink="/about" class="links"><i class="fa fa-arrow-right"></i> About us</a>
      <!-- <a routerLink="" class="links"><i class="fa fa-arrow-right"></i> Offers</a> -->
      <a routerLink="/contact" class="links"><i class="fa fa-arrow-right"></i> Contact</a>
      <a routerLink="/product" class="links"><i class="fa fa-arrow-right"></i> Shop</a>
      <a routerLink="/login" class="links"><i class="fa fa-arrow-right"></i> Sign In</a>

    </div>

    <div class="box">
      <h3>Newsletter</h3>
      <p>Subsribe For Latest Updates</p>
      <input type="email" placeholder="Your Email" class="email">
      <input type="submit" value="Subscribe" class="button">
      <img src="assets/images/payment-removebg-preview.png" width="400px">
    </div>

  </div>

</footer>
