
<!-- header -->
<header >
  <div  class="navbars">
          <div  class="navbar">
              <nav>
                <input type="checkbox" id="show-menu">
                <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
                <div class="content" id="content-active">
                  <div class="navi">
                      <div class="logo">
                          <li><a routerLink="#"><img src="../assets/images/ketti1-removebg-preview.png"  id="image"/></a></li>
                          <li class="list1"><p>Kettimelam</p> </li>
                         <div class="main">
                          <input type="search" placeholder="Type to search">
                          <a href="#"><i class="fa fa-search icon-search" style="font-size: 16px;"></i></a>
                          </div>
                      </div>
                  </div>                        <ul class="links">
                    <li class="active-btn active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li class="active-btn"><a routerLink="shop" routerLinkActive="active" class="desktop-link">Shop</a>
                      <input type="checkbox" id="show-services">
                      <label for="show-services" >Shop</label>
                      <ul>
                        <li><a routerLink="/cater">Catering</a></li>
                        <li><a routerLink="/studio">Studio</a></li>
                        <li><a routerLink="/weddings">Weddings</a>
                        </li>
                      </ul>
                  </li>
                    <li class="active-btn"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>

                  <div class="login">   <button class="home-login" id="login-btn">
                    <a  *ngIf="!loginService.isLoggedin" routerLink="/login"  >Login</a>

                    <div *ngIf="loginService.isLoggedin"  class="loggedin">
                    <div>
                      <!-- {{email.firstname}} -->
                     </div>
                    <a (click)="onLogout()" routerLink="/home">Logout</a>
                    </div>


                  </button>
                  </div>





                      <div class="cart"><span>{{totalitem}}</span><a routerLink="/cart"><img src="../assets/images/cart.png"></a></div>
                </ul>
                  </div>

              </nav>
            </div>

  </div>
</header>

<!-- header closes -->
<!-- front-image -->
<div id="content" [ngStyle]="{backgroundImage:'url(assets/images/hand411.jpg)'}" >
  <div class="bg">

          <h1><b>Best Wedding Planner of South India</b></h1>


          <p>We recommand the best to your dream wedding</p>

  </div>
</div>

<!-- list type for shopping -->
<div class="categories">
  <div class="catergories-name">
   <div class="cat"><h3>SHOPPING LISTS</h3>
   <p>What are you looking for ?</p></div>
  </div>
  <div class="mes-caption"><p>Explore weddings,studio,caterings from the best selected vendors around South India</p></div>
</div>

<!-- wedding events -->
<div class="wedding" id="weds">
  <div id="wed">
      <div class="wedtitle">
      <h3>WEDDINGS</h3></div>
  </div>

   <!-- //weddings cart -->
   <div class="container">
    <div class="card">
      <div class="imgbox"><img src="assets/images/beach-title.jpg"></div>
      <div class="content"><p>BEACH WEDDINGS</p></div>
    </div>
    <div class="card">
      <div class="imgbox"><img src="assets/images/destination-title.webp"></div>
      <div class="content"><p>DESTINATION WEDDINGS</p></div>
    </div>
    <div class="card">
      <div class="imgbox"><img src="assets/images/royal-title.jpeg"></div>
      <div class="content"><p>ROYAL WEDDINGS</p></div>
    </div>
    <div class="card">
      <div class="imgbox"><img src="assets/images/traditional-title.webp"></div>
      <div class="content"><p>TRADITIONAL WEDDINGS</p></div>
    </div>
    <div class="card">
      <div class="imgbox"><img src="assets/images/vintage-title.jpg"></div>
      <div class="content"><p>VINTAGE WEDDINGS</p></div>
    </div>
    <div class="card">
      <div class="imgbox increase"><img src="assets/images/col.png"></div>
      <div class="content morebutton-weddings"><button><a routerLink="/weddings">More + </a></button></div>
    </div>
   </div>

 <!-- photograph -->
 <div id="photography"><h3>STUDIO</h3></div>
 <div class="grid-items">
     <div class="content-photo-grid">
      <h4>Photography and Videography</h4>
         <p> Authentic, vibrant, and honest this is how the photographer
          describes your wedding photography. The photographer keeps the
           couple’s lives in the moment where they started.
           It’s particularly important to capture the
            intense emotions which make this day so unique
             and personal.
               <!-- By including
              numerous reviews on his website that
              demonstrates how wonderful the final
               result is and how happy the customers are.So that
               is the customers can see what suits them best.
              -->

         </p>
         <button class="studio-shop"><a routerLink="/studio">Shop</a></button>
     </div>
         <div class="grid-photo-items">
             <div class="grid-img">
                 <img src="assets/images/photo1.jpg">
                 <img src="assets/images/photo2.jpg">
             </div>
             <div class="grid-img">
                 <img src="assets/images/photo3.jpg">
                 <img src="assets/images/photo4.jpg">
             </div>
         </div>

     </div>

<!-- catering work -->



<div class="body"> <h3>CATERINGS</h3>

<div class="container-catering">
  <input type="radio" name="dot" id="one">
  <input type="radio" name="dot" id="two">
  <div class="main-card">
    <div class="cards-catering">
      <div class="card-catering">
       <div class="content-catering">
         <div class="img">
          <img src="assets/images/caterone.jpg" alt="">
         </div>
         <div class="details">
           <div class="name">Noosh Catering</div>
           <div class="job">Ready to take order</div>
         </div>
         <div class="media-icons">
          <div class="cat-what"> <a routerLink="#"><i class="fa-brands fa-whatsapp"></i> </a> 6345999783</div>
           <div class="cat-mail"><a routerLink="#"><i class="fa-solid fa-envelope"></i></a>nooshcater@gmail.com</div>
          <div class="cat-loc"><a routerLink="#"><i class="fa-solid fa-location-dot"></i></a>Salem</div>
          </div>
       </div>
      </div>
      <div class="card-catering">
       <div class="content-catering">
         <div class="img">
          <img src="assets/images/catertwo.jpg" alt=>
         </div>
         <div class="details">
           <div class="name">Cutler Catering</div>
           <div class="job">Ready to take order</div>
         </div>
         <div class="media-icons">
          <div class="cat-what"> <a routerLink="#"><i class="fa-brands fa-whatsapp"></i></a>9994589893</div>
          <div class="cat-mail"><a routerLink="#"><i class="fa-solid fa-envelope"></i></a>cultercater@gmail.com</div>
         <div class="cat-loc"><a routerLink="#"><i class="fa-solid fa-location-dot"></i></a>Erode</div>

              </div>
       </div>
      </div>
      <div class="card-catering">
       <div class="content-catering">
         <div class="img">
          <img src="assets/images/caterthree.jpg" alt=>
         </div>
         <div class="details">
           <div class="name">Healy Catering</div>
           <div class="job">Ready to take order</div>
         </div>
         <div class="media-icons">
          <div class="cat-what"> <a routerLink="#"><i class="fa-brands fa-whatsapp"></i></a>8825655512</div>
          <div class="cat-mail"><a routerLink="#"><i class="fa-solid fa-envelope"></i></a>healycatr@gmail.com</div>
         <div class="cat-loc"><a routerLink="#"><i class="fa-solid fa-location-dot"></i></a>Namakkal</div>

               </div>
       </div>
      </div>
    </div>
    <div class="cards-catering">


      <div class="card-catering">
       <div class="content-catering">
         <div class="img">
          <img src="assets/images/ct7.png" alt=>
         </div>
         <div class="details">
           <div class="name">Red Flook Catering</div>
           <div class="job">Ready to take order</div>
         </div>
         <div class="media-icons">
          <div class="cat-what"> <a routerLink="#"><i class="fa-brands fa-whatsapp"></i></a>7299910101</div>
           <div class="cat-mail"><a routerLink="#"><i class="fa-solid fa-envelope"></i></a>redflookcater@gmail.com</div>
          <div class="cat-loc"><a routerLink="#"><i class="fa-solid fa-location-dot"></i></a>Coimbatore</div>

              </div>
       </div>
      </div>
      <div class="card-catering">
        <div class="content-catering">
          <div class="img">
           <img src="assets/images/ct8.jfif" alt=>
          </div>
          <div class="details">
            <div class="name">Taste of Soul</div>
            <div class="job">Ready to take order</div>
          </div>
          <div class="media-icons">
            <div class="cat-what"> <a routerLink="#"><i class="fa-brands fa-whatsapp"></i></a>9955533666</div>
            <div class="cat-mail"><a routerLink="#"><i class="fa-solid fa-envelope"></i></a>Tasteofsoulcater@gmail.com</div>
           <div class="cat-loc"><a routerLink="#"><i class="fa-solid fa-location-dot"></i></a>Chennai</div>

                 </div>
        </div>
       </div>
      <div class="card-catering">
       <div id="back" class="content-catering">
        <div class="more-catering">
          <button><a routerLink="#">More</a></button>
        </div>
       </div>
      </div>
    </div>
  </div><br>
  <div class="button">
    <label for="one" class=" active one"></label>
    <label for="two" class="two"></label>
  </div>
</div>
</div>
<app-Footer></app-Footer>
