<header>
  <div class="navbars">




          <div class="navbar">
              <nav>
                <input type="checkbox" id="show-menu">
                <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
                <div class="content" id="content-active">
                  <div class="navi">
                      <div class="logo">
                          <li><a routerLink="#"><img src="../assets/images/ketti1-removebg-preview.png"  id="image"/></a></li>
                          <li class="list1"><p>Kettimelam</p> </li>
                         <!-- <div class="main">
                          <input type="search" placeholder="Type to search">
                          <a href="#"><i class="fa fa-search icon-search" style="font-size: 16px;"></i></a>
                          </div> -->
                      </div>
                  </div>                        <ul class="links">
                    <li class="active-btn active"><a routerLink="/adminhome" routerLinkActive="active">Home</a></li>
                    <li class="active-btn"><a routerLink="#" routerLinkActive="active" >Products</a>
                      <input type="checkbox" id="show-services">
                      <label for="show-services" >Products</label>
                      <ul>
                        <li><a routerLink="/AdminProducts">View Products</a></li>
                        <li><a routerLink="/AdminAddProducts">Add Products</a></li>

                      </ul>
                  </li>


                    <li class="active-btn"><a routerLink="/AdminViewUser" routerLinkActive="active">View User</a></li>

                  <div class="login">   <button class="home-login" id="login-btn">
                    <a  *ngIf="!loginService.isLoggedin" routerLink="/login">Login</a>
                    <a *ngIf="loginService.isLoggedin"  (click)="onLogout()" routerLink="/home">Logout</a>


                      </button>


                  </div>
                </ul>
                  </div>
                <!--<form action="#" class="search-box">
                  <input type="text" placeholder="Type Something to Search..." required>
                  <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
                </form>-->
              </nav>
            </div>
  </div>

</header>
