<!-- -------------------Footer------------------------ -->
<footer class="footer" id="footer">
     <div class="row">
        <div class="footer-col">
            <h4>company</h4>
            <ul>
                <li><a href="**">about us</a></li>
                <li><a href="**">our services</a></li>
                <li><a href="**">privacy policy</a></li>
                <li><a href="**">affiliate program</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>get help</h4>
            <ul>
                <li><a routerLink="**">shipping</a></li>
                <li><a routerLink="**">returns</a></li>
                <li><a routerLink="**">order status</a></li>
                <li><a routerLink="**">payment options</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>shop</h4>
            <ul>
                <li><a href="**">Dell</a></li>
                <li><a href="**">HP</a></li>
                <li><a href="**">Acer</a></li>
                <li><a href="**">MacBook</a></li>
                <li><a href="**">Samsung</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
        <ul class="links">
            <!-- <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li> -->

            <div class="icons"><a href="**"><i class="fa-brands fa-facebook"></i></a></div>
            <div class="icons"><a href="**"><i class="fa-brands fa-twitter"></i></a></div>
            <div class="icons"><a href="**"><i class="fa-brands fa-instagram"></i></a></div>
            <div class="icons"><a href="**"><i class="fa-brands fa-linkedin"></i></a></div>

            <!-- <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>                    -->
        </ul>
        </div>
    </div>
  </footer>


