<app-AdminHome></app-AdminHome>
<div id="main">
  <div class="top-nav">
    <div class="top-page">
      <span style="font-size:25px;cursor:pointer; color:grey;" class="nav">☰ Users</span>
    </div>
    <div class="profile">
      <img src="assets/images/user.png" class="pro-img" />
      <p>Hemaltha<span>Admin</span></p>
    </div>
  </div>
  <div class="total-box">
    <img src="assets/images/customer.png" width="40px" height="40px" class="nav-img" />
    <p>Total Users<span> {{users.length}}</span></p>
  </div>
  <div class="table-query">
    <table class="w-full">
      <thead>
        <tr>
          <td>Name</td>
          <td>Username</td>
          <td>Password</td>
          <td>Phone No</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.uname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.pword}}</td>
          <td>{{user.phoneno}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
