<app-navbar></app-navbar>
<div class="abt-container">
  <div class="abt-img">
    <img src="assets/lap images/about-img.jpg">
  </div>
  <div class="abt-txt">
    <div class="title">
      <h2>Who We Are</h2>
    <p>We are a diverse team with unique perspectives. United in our purpose, our strategy and our culture.
      Driven by our ambition and the power of technology to drive human progress.
      Unwavering in our commitment to equality, trust and advocacy for one another.</p>
    </div>
      <div class="title">
        <h2>What We belive</h2>
      <p>"How We Win" is a reflection of the high standards we set for ourselves. It is our collective
        belief that tangible, positive change is achievable with innovation and action. Our unwavering
        commitment to equality, trust and advocacy for one another empowers us.
        Our purpose, our strategy and our culture drive us forward to achieve the impossible.</p>
      </div>
        <div class="title">
          <h2>Terms of Sale</h2>
          <p>Purchases of products and services are governed by the relevant terms and conditions as
            indicated below. Clicking on the relevant link below will take you to your relevant terms and conditions.
            Please review the relevant terms and conditions carefully. If you are unable to access the relevant terms and conditions from your relevant link or for assistance in obtaining a copy of your the
            relevant terms and conditions applicable to you, please contact your sales representative.</p>
        </div>
  </div>
</div>
<app-footer></app-footer>