*{
  margin-top: 6%;
}.checkout-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1500px;
}

.shipping-address {
  margin: 8rem auto;
  padding: 40px 50px;
  width: 65%;
  border-radius: 5px;
  background:  #fff;
  border-color: #000000;
  box-shadow: 1px 1px 1px 1px #666;
  position: relative;
}
.shipping-address input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}
.shipping-address input[type=text],
.shipping-address[type=password] {
    border: 1px solid #c0c0c0;
    transition: .2s;
  }

  .shipping-address[type=text]:hover {
    border-color: #f74e05;
    outline: none;
    transition: all .2s ease-in-out;
  }

.cart-details {
  width: 25%;
  background-color: #c0c0c0;
  max-height: 500px;
  border-radius: 10px;
  margin: 8rem auto;
  padding: 40px 50px;
}
.cart-details h2{
  align-items: center;
  text-align: center;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-image {
  width: 200px;
  height: 180px;
  overflow: hidden;
  margin-bottom: 90%;
  margin-left: 40px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-name {
  position: absolute;
  margin-left: 25px;
}

.product-name h3 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}
.product-price{
  position: absolute;
  margin-left: 160px;
}
.product-price h4{
  font-size: 18px;
  margin: 0;
  padding: 0;
}
button
{
  padding: 2%;
  cursor: pointer;
  border: none;
  position: relative;
  background-color: orangered;
  border-bottom: 2px solid orangered;
  font-weight: bold;
  color: white;
  width: 100%;
  margin-left: 2px;
  font-size: 20px;
}
