body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}
.shopping-cart{
  margin-top: 20px;
  padding: 7em;
}
.shopping-cart h3{
  margin-bottom:10px;
  color: #474747;
}
#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  font-family: 'Poppins', sans-serif;
}

#cart table img{
  width:80px;
}
#cart table td:nth-child(1){
  width: 130px;
  text-align: center;
}
#cart table td .product-grid{
  display: grid;
  gap:1.3em;
}
#cart table td .product-columns{
    grid-template-columns: 20% 80%;
}
#cart table td .productName{
  margin-left: 30px;
  margin-top: 20px;
  text-align: left;
}
#cart table td:nth-child(2){
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(3),
#cart table td:nth-child(4),#cart table td:nth-child(5){
  width: 80px;
  text-align: center;
}
#cart table thead{
   border:1px solid #c6cac6;
   border-left: none;
   border-right: none;
   text-transform: uppercase;
}
#cart table thead td{
  font-weight: 700;
  font-size: 17px;
  padding: 18px 0;
}
#cart table thead tr td{
  padding-top: 15px;
}
#cart table tbody td{
  padding: 1.2rem;
   font-size: 17px;
}
#cart table tbody td i{
  color: rgb(209, 43, 43);
  cursor: pointer;
}
.quantity{
  display:flex;
  gap:0.8rem;
  justify-content: center;
}

.btn{
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding:0.2em;
  border-radius: 4px;
  border: none;
  background-color: #d9d9d9;
  cursor: pointer;
  color: #202020;
  font-weight: 900;
}
.count{
  margin-top:5px;
  font-size: 15px;
  cursor: pointer;
}
#cart-total{
 display: flex;
 justify-content: space-between;
 margin-top: 40px;
}
.continue{
  margin-left: 40px;
  text-decoration: none;
  background-color: #ffffff;
  cursor: pointer;
  border:none;
  outline: none;
  width: auto;
  height: 45px;
  padding: 0.3em;
}
.continue a{
  padding-bottom: 5px;
  font-size: 18px;
  color:#000000;
  border-bottom: 2px solid #182719;
}
#subtotal{
  width: 35%;
  margin-bottom: 90px;
  border:1px solid #c6cac6;
  padding:15px;
}
#subtotal h3{
  padding:5px;
}
#subtotal table{
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width:100%;
  margin-bottom: 20px;
}
#subtotal table td{
  width: 50%;
  border:1px solid #c6cac6;
  padding:7px;
  font-size:15px;
}
.checkout{
  text-decoration: none;
  cursor: pointer;
  background-color: #181E27;
  border:none;
  outline: none;
  width: 120px;
  height: 45px;
  padding: 0.3em;
}
.checkout a{
  font-size: 18px;
  color:#ffffff;
}
.emptyCart{
  margin-top: 40px;
}
.emptyCart img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}
.content{
  text-align: center;
}
.emptyCart .content p{
  text-align: center;
  margin-top:-50px;
  margin-bottom: 30px;
  font-size: 22px;
  color: rgb(66, 66, 66);
}
.emptyCart .content .shop-button{
  margin-bottom: 100px;
}
.emptyCart .content a{
  padding: 0.6em;
  border-radius: 4px;
  cursor: pointer;
  background-color: #181E27;
  color: #ffffff;
  font-size: 17px;
}


