<app-navbar></app-navbar>
<section *ngIf="cartItems.length > 0" id="cart" class="shopping-cart">
  <h3>My cart</h3>
    <table width="100%">
        <thead>
            <tr>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
                <td>Remove</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cartItems">
                <td>
                  <div class="centered">
                  <div class="product-grid product-columns">
                    <div class="productImage">
                        <img src="{{item.image}}" alt="">
                    </div>
                    <div class="productName">
                        <p>{{ item.name }}</p>
                    </div>
                    </div>
                  </div>
                  </td>
                <td>{{item.price.replaceAll(',','') | currency:'INR'}}</td>
                <td>
                  <div class="quantity">
                    <button class="btn" (click)="increaseQuantity(item)">+</button>
                    <div class="count">{{item.quantity}}</div>
                    <button class="btn" (click)="decreaseQuantity(item)">-</button>
                  </div>
                </td>
                <td>{{getSubTotal(item) | currency:'INR'}}</td>
                <td><i class="fa-solid fa-trash" (click)="removeFromCart(item)"></i></td>
            </tr>
        </tbody>
    </table>
    <section id="cart-total">
      <div class="continue-shopping">
        <button class="continue"><a routerLink="/products"><i class="fa-solid fa-arrow-left"></i> Continue shopping</a></button>
      </div>
      <div id="subtotal">
        <h3>Cart Total</h3>
        <table>
          <tr>
            <td>Cart Subtotal</td>
            <td>{{totalPrice | currency:'INR' }}</td>
          </tr>
          <tr>
            <td>Shipping</td>
            <td>Free</td>
          </tr>
          <tr>
            <td><strong>Total</strong></td>
            <td><strong>{{totalPrice | currency:'INR' }}</strong></td>
          </tr>
        </table>
        <button class="checkout"><a routerLink="/checkout">Place Order</a></button>
      </div>
    </section>
</section>



 <div *ngIf="cartItems.length==0" class="emptyCart">
  <img src="assets/lap images/empty_cart.jpeg">
  <div class="content">
    <p>Oops! Your cart is empty!!</p>
    <div class="shop-button">
      <a routerLink="/products">Shop Now</a>
    </div>
  </div>
</div>
<app-footer></app-footer>




