<app-Header></app-Header>
<div class="section">
  <!-- <div class="cards">
  </div>-->
  <div class="cards1">
    <div class="cards" id="cards">
      <img src="../../assets/images/home_fruit.png">
    </div>
    <div class="about-flex">
      <div class="picture_2">


        <img src="assets/images/about_buy.png">

      </div>
      <div class="content">
        <h2>WELCOME TO <SPAN STYLE="font-weight: bold;color: rgb(21, 163, 23);">GROZZY WORLD</SPAN></h2>
        <h5><SPAN
            STYLE="font-size: 15px;line-height: 35px;text-align: justify;font-weight: lighter;color: #454444;">Grozzy
            World is India’s largest online food and grocery store. Right from fresh Fruits and
            Vegetables, Rice and Dals, Spices and Seasonings to Packaged products, Beverages, Personal care
            products, Meats – we have it all.Choose from a wide range of options
            in every category, exclusively handpicked to help you find the best quality available at the
            lowest prices.</SPAN></h5>
        <!-- <h2><SPAN STYLE="font-weight: bold;color: rgb(21, 163, 23);">HAPPY SHOPPING</SPAN></h2><br>-->
        <h2>WHY SHOULD I USE <SPAN STYLE="font-weight: bold;color: rgb(21, 163, 23);">grozzyworld.com ?</SPAN>
        </h2>
        <h5><SPAN STYLE="font-size: 15px;line-height: 35px;font-weight: lighter;color: #454444;">grozzyworld.com allows
            you to
            walk away from the drudgery of grocery shopping and welcome an easy relaxed way of browsing
            and shopping for groceries.
            Discover new products and shop for all your food and grocery needs from the comfort of your
            home or
            office. No more getting stuck in traffic jams, paying for parking,
            standing in long queues and carrying heavy bags – get everything you need, when you need,
            right at
            your doorstep. Food shopping online is now easy as every product on your monthly shopping
            list,
            is now available online at grozzyworld.com, India’s best online grocery store.</SPAN></h5>
      </div>
    </div>

  </div>


<div class="review-header">
  <h2>WHAT OUR <span style="color: green;">CUSTOMER</span> SAY</h2></div>
  <div class="about-review">
    <div class="about-review1">
      <div class="stars">
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
    </div>
      <p>Nice and fast delivery within the promise time. The highlight is open delivery so we can cross check
         while delivery the product and no Plastic bags for packing.
      </p>
<div class="review-image-flex">

  <img src="../../assets/images/women1.jpg">

      <h4>Shreeshaa</h4>


    </div>
  </div>
  <div class="about-review1">
    <div class="stars">
      <i class='fa fa-star'></i>
      <i class='fa fa-star'></i>
      <i class='fa fa-star'></i>
      <i class='fa fa-star'></i>
      <i class='fa fa-star'></i>
  </div>
      <p>Everything arrived nicely packed and fresh. I’m very happy with all the products.
        I particularly enjoyed the pastry sheets which were very fresh.</p>
       <div class="review-image-flex">
        <img src="../../assets/images/man1.jpg">
        <h4>Shrawan</h4>
      </div>
  </div>

  <div class="about-review1">
    <div class="stars">
      <i class='fa fa-star'></i>
      <i class='fa fa-star'></i>
      <i class='fa fa-star'></i>
      <i class='fa fa-star'></i>
      <i class='fa fa-star'></i>
  </div>
      <p>I ordered frozen and fresh items and they arrived with ice packs in the box so the food was kept at
        the correct temperature.I also received a free gift with my order .</p>
        <div class="review-image-flex">
        <img src="../../assets/images/women2.jpg">

        <h4>Thanu</h4>
      </div>
  </div>
  </div>



  <div class="about-emoji">
    <div class="about-grids">
      <img src="../assets/images/shopping-bag (1).png" width="80px" height="80px">
      <h2>{{productcount + "+"}}</h2>
      <p class="text">Grocery Products</p>
    </div>
    <div class="about-grids">
      <img src="../assets/images/smile.png" width="80px" height="80px">
      <h2>{{clientcount + "+"}}</h2>
      <p>Satisfied Customers</p>
    </div>
    <div class="about-grids">
      <img src="../assets/images/awards.png" width="80px" height="80px">
      <h2>{{awardcount + "+"}}</h2>
      <p>Awards Won</p>
    </div>
    <div class="about-grids">
      <img src="../assets/images/follower.png" width="80px" height="80px">
      <h2>{{staffcount + "+"}}</h2>
      <p>Staffs</p>
    </div>
  </div>
</div>
<app-Footer></app-Footer>

